{
 "bridgeName": "{{ br.bridgeName }}",
 "bridgeVirtualRouter": "{{ br.bridgeVirtualRouter }}",
 "enabled": {{ br.enabled }},
 "maxTtl": {{ br.maxTtl }},
 "remoteAuthenticationBasicClientUsername": "{{ br.remoteAuthenticationBasicClientUsername }}",
 "remoteAuthenticationBasicPassword": "{{ br.remoteAuthenticationBasicPassword }}",
 "remoteAuthenticationClientCertContent": "{{ br.remoteAuthenticationClientCertContent }}",
 "remoteAuthenticationClientCertPassword": "{{ br.remoteAuthenticationClientCertPassword }}",
 "remoteAuthenticationScheme": "{{ br.remoteAuthenticationScheme }}",
 "remoteConnectionRetryCount": {{ br.remoteConnectionRetryCount }},
 "remoteConnectionRetryDelay": {{ br.remoteConnectionRetryDelay }},
 "remoteDeliverToOnePriority": "{{ br.remoteDeliverToOnePriority }}",
 "tlsCipherSuiteList": "{{ br.tlsCipherSuiteList }}"
}
