{
 "clientProfileName": "{{ cp.clientProfileName }}",
 "allowBridgeConnectionsEnabled": {{ cp.allowBridgeConnectionsEnabled }},
 "allowCutThroughForwardingEnabled": {{ cp.allowCutThroughForwardingEnabled }},
 "allowGuaranteedEndpointCreateDurability": "{{ cp.allowGuaranteedEndpointCreateDurability }}",
 "allowGuaranteedEndpointCreateEnabled": {{ cp.allowGuaranteedEndpointCreateEnabled }},
 "allowGuaranteedMsgReceiveEnabled": {{ cp.allowGuaranteedMsgReceiveEnabled }},
 "allowGuaranteedMsgSendEnabled": {{ cp.allowGuaranteedMsgSendEnabled }},
 "allowSharedSubscriptionsEnabled": {{ cp.allowSharedSubscriptionsEnabled }},
 "allowTransactedSessionsEnabled": {{ cp.allowTransactedSessionsEnabled }},
 "apiQueueManagementCopyFromOnCreateName": "{{ cp.apiQueueManagementCopyFromOnCreateName }}",
 "apiQueueManagementCopyFromOnCreateTemplateName": "{{ cp.apiQueueManagementCopyFromOnCreateTemplateName }}",
 "apiTopicEndpointManagementCopyFromOnCreateName": "{{ cp.apiTopicEndpointManagementCopyFromOnCreateName }}",
 "apiTopicEndpointManagementCopyFromOnCreateTemplateName": "{{ cp.apiTopicEndpointManagementCopyFromOnCreateTemplateName }}",
 "compressionEnabled": {{ cp.compressionEnabled }},
 "elidingDelay": {{ cp.elidingDelay }},
 "elidingEnabled": {{ cp.elidingEnabled }},
 "elidingMaxTopicCount": {{ cp.elidingMaxTopicCount }},
 "maxConnectionCountPerClientUsername": {{ cp.maxConnectionCountPerClientUsername }},
 "maxEgressFlowCount": {{ cp.maxEgressFlowCount }},
 "maxEndpointCountPerClientUsername": {{ cp.maxEndpointCountPerClientUsername }},
 "maxIngressFlowCount": {{ cp.maxIngressFlowCount }},
 "maxSubscriptionCount": {{ cp.maxSubscriptionCount }},
 "maxTransactedSessionCount": {{ cp.maxTransactedSessionCount }},
 "maxTransactionCount": {{ cp.maxTransactionCount }},
 "queueControl1MaxDepth": {{ cp.queueControl1MaxDepth }},
 "queueControl1MinMsgBurst": {{ cp.queueControl1MinMsgBurst }},
 "queueDirect1MaxDepth": {{ cp.queueDirect1MaxDepth }},
 "queueDirect1MinMsgBurst": {{ cp.queueDirect1MinMsgBurst }},
 "queueDirect2MaxDepth": {{ cp.queueDirect2MaxDepth }},
 "queueDirect2MinMsgBurst": {{ cp.queueDirect2MinMsgBurst }},
 "queueDirect3MaxDepth": {{ cp.queueDirect3MaxDepth }},
 "queueDirect3MinMsgBurst": {{ cp.queueDirect3MinMsgBurst }},
 "queueGuaranteed1MaxDepth": {{ cp.queueGuaranteed1MaxDepth }},
 "queueGuaranteed1MinMsgBurst": {{ cp.queueGuaranteed1MinMsgBurst }},
 "rejectMsgToSenderOnNoSubscriptionMatchEnabled": {{ cp.rejectMsgToSenderOnNoSubscriptionMatchEnabled }},
 "replicationAllowClientConnectWhenStandbyEnabled": {{ cp.replicationAllowClientConnectWhenStandbyEnabled }},
 "tcpCongestionWindowSize": {{ cp.tcpCongestionWindowSize }},
 "tcpKeepaliveCount": {{ cp.tcpKeepaliveCount }},
 "tcpKeepaliveIdleTime": {{ cp.tcpKeepaliveIdleTime }},
 "tcpKeepaliveInterval": {{ cp.tcpKeepaliveInterval }},
 "tcpMaxSegmentSize": {{ cp.tcpMaxSegmentSize }},
 "tcpMaxWindowSize": {{ cp.tcpMaxWindowSize }},
 "tlsAllowDowngradeToPlainTextEnabled": {{ cp.tlsAllowDowngradeToPlainTextEnabled }}
 }
