{
 "allowDuplicateClientIdEnabled": {{ jndi.allowDuplicateClientIdEnabled }},
 "clientDescription": "{{ jndi.clientDescription }}",
 "clientId": "{{ jndi.clientId }}",
 "connectionFactoryName": "{{ jndi.connectionFactoryName }}",
 "dtoReceiveOverrideEnabled": {{ jndi.dtoReceiveOverrideEnabled }} ,
 "dtoReceiveSubscriberLocalPriority": {{ jndi.dtoReceiveSubscriberLocalPriority }},
 "dtoReceiveSubscriberNetworkPriority": {{ jndi.dtoReceiveSubscriberNetworkPriority }},
 "dtoSendEnabled": {{ jndi.dtoSendEnabled }},
 "dynamicEndpointCreateDurableEnabled": {{ jndi.dynamicEndpointCreateDurableEnabled }},
 "dynamicEndpointRespectTtlEnabled": {{ jndi.dynamicEndpointRespectTtlEnabled }},
 "guaranteedReceiveAckTimeout": {{ jndi.guaranteedReceiveAckTimeout }} ,
 "guaranteedReceiveReconnectRetryCount": {{ jndi.guaranteedReceiveReconnectRetryCount }} ,
 "guaranteedReceiveReconnectRetryWait": {{ jndi.guaranteedReceiveReconnectRetryWait }} ,
 "guaranteedReceiveWindowSize": {{ jndi.guaranteedReceiveWindowSize }} ,
 "guaranteedReceiveWindowSizeAckThreshold": {{ jndi.guaranteedReceiveWindowSizeAckThreshold }} ,
 "guaranteedSendAckTimeout": {{ jndi.guaranteedSendAckTimeout }} ,
 "guaranteedSendWindowSize": {{ jndi.guaranteedSendWindowSize }} ,
 "messagingDefaultDeliveryMode": "{{ jndi.messagingDefaultDeliveryMode }}" ,
 "messagingDefaultDmqEligibleEnabled": {{ jndi.messagingDefaultDmqEligibleEnabled }} ,
 "messagingDefaultElidingEligibleEnabled": {{ jndi.messagingDefaultElidingEligibleEnabled }} ,
 "messagingJmsxUserIdEnabled": {{ jndi.messagingJmsxUserIdEnabled }} ,
 "messagingTextInXmlPayloadEnabled": {{ jndi.messagingTextInXmlPayloadEnabled }} ,
 "transportCompressionLevel": {{ jndi.transportCompressionLevel }} ,
 "transportConnectRetryCount": {{ jndi.transportConnectRetryCount }} ,
 "transportConnectRetryPerHostCount": {{ jndi.transportConnectRetryPerHostCount }} ,
 "transportConnectTimeout": {{ jndi.transportConnectTimeout }},
 "transportDirectTransportEnabled": {{ jndi.transportDirectTransportEnabled }} ,
 "transportKeepaliveCount": {{ jndi.transportKeepaliveCount }} ,
 "transportKeepaliveEnabled": {{ jndi.transportKeepaliveEnabled }} ,
 "transportKeepaliveInterval": {{ jndi.transportKeepaliveInterval }} ,
 "transportMsgCallbackOnIoThreadEnabled": {{ jndi.transportMsgCallbackOnIoThreadEnabled }} ,
 "transportOptimizeDirectEnabled": {{ jndi.transportOptimizeDirectEnabled }} ,
 "transportPort": {{ jndi.transportPort }} ,
 "transportReadTimeout": {{ jndi.transportReadTimeout }} ,
 "transportReceiveBufferSize": {{ jndi.transportReceiveBufferSize }} , 
 "transportTcpNoDelayEnabled": {{ jndi.transportTcpNoDelayEnabled }} ,
 "xaEnabled": {{ jndi.xaEnabled }} 
}
