{
   "queueBindingName": "{{ rq.queueBindingName }}",
   "gatewayReplaceTargetAuthorityEnabled": {{ rq.gatewayReplaceTargetAuthorityEnabled }},
   "restDeliveryPointName": "{{ rq.restDeliveryPointName }}"
}
