{
 "bridgeName": "{{ rVPN.bridgeName }}",
 "bridgeVirtualRouter": "{{ rVPN.bridgeVirtualRouter }}",
 "clientUsername": "{{ rVPN.clientUsername }}",
 "compressedDataEnabled": {{ rVPN.compressedDataEnabled }},
 "connectOrder": {{ rVPN.connectOrder }},
 "egressFlowWindowSize": {{ rVPN.egressFlowWindowSize }},
 "enabled": {{ rVPN.enabled }},
 "password": "{{ rVPN.password }}",
 "queueBinding": "{{ rVPN.queueBinding }}",
 "remoteMsgVpnLocation": "{{ rVPN.remoteMsgVpnLocation }}",
 "remoteMsgVpnName": "{{ rVPN.remoteMsgVpnName }}",
 "tlsEnabled": {{ rVPN.tlsEnabled }},
 "unidirectionalClientProfile": "{{ rVPN.unidirectionalClientProfile }}"
}
