{
 "bridgeName": "{{ rs.bridgeName }}",
 "bridgeVirtualRouter": "{{ rs.bridgeVirtualRouter }}",
 "deliverAlwaysEnabled": {{ rs.deliverAlwaysEnabled }},
 "remoteSubscriptionTopic": "{{ rs.remoteSubscriptionTopic }}"
}
